/* navbar */
.navbar-custom {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(224, 239, 241);
    border: solid;
    border: 3px;
    border-color: rgb(76, 74, 83);
}

nav .navbar-nav li a{
    color: rgb(197, 95, 0) !important;
    }

html{
    border: solid;
    border-color: rgb(48, 48, 53);
}

.container-border {
    background-color:  rgb(48, 48, 53);
    height: 5px;
}

.container1-custom {
    background-color: rgb(158, 210, 240);
    height: 100px;
}

.container2-custom {
    background-color: rgb(188, 166, 228);
    height: 500px;
}

.container-twotone {
    background: linear-gradient(rgb(158, 210, 240) 0%,rgb(158, 210, 240) 50%,rgb(188, 166, 228) 50%,rgb(188, 166, 228) 100%);
}

.button-custom {
    border: solid;
    border-color: rgb(255, 174, 0);
    border-radius: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 0px;
}

h1, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  rgb(224, 239, 241);
    margin: 0px;
}

.modal-custom {
    background-color:  rgb(224, 239, 241);
    border: solid;
    border-color: rgb(48, 48, 53);
}