
.div-home {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#content {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.contentInside {
  width: 100px;
  height: 70px;
  margin: 7px;
  border: 1px solid black;
  display: inline-flex;
}

.navbar-custom {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(224, 239, 241);
  border: solid;
  border: 3px;
  border-color: rgb(76, 74, 83);
}

nav .navbar-nav li a {
  color: rgb(197, 95, 0) !important;
}

html {
  border: solid;
  border-color: rgb(48, 48, 53);
}

.bg-fill {
  background: 100%;
  background-color: rgb(158, 210, 240);
}
.container-border {
  background-color: rgb(48, 48, 53);
  height: 5px;
}

.container1-custom {
  background-color: rgb(158, 210, 240);
  height: 50px;
}

.container2-custom {
  background-color: rgb(188, 166, 228);
  height: 500px;
}

.container-twotone {
  background: linear-gradient(
    rgb(158, 210, 240) 0%,
    rgb(158, 210, 240) 50%,
    rgb(188, 166, 228) 50%,
    rgb(188, 166, 228) 100%
  );
}

.button-custom {
  border: solid;
  border-radius: 6px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  background-color: rgb(234, 242, 243);
  margin: 25px;
}

.modal-custom {
  background-color: rgb(224, 239, 241);
  border: solid;
  border-color: rgb(48, 48, 53);
}



.bannerContainer {
  position:relative; 
  height:600px;
  
}
.carousel {
  position:absolute;
  top:0;
  height: 100%;
}

.carousel-item {
  height: 100%;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
   height:100%;
}