<div class="container-fluid container1-custom">
  </div>

  <div class="container-fluid container-twotone">
    <h1 [innerHTML]="q_.question"></h1>

    <br>
    <br>
    <div class="div-choices">
      <span *ngFor="let ans of incorrectAnswersArray">
        <button type="button" class="btn btn-outline-secondary btn-block" routerLink="." [innerHTML]="ans"
          style="font-size: 2vh; color: darkviolet; font-weight: 500"></button>
      </span>
    </div>
  </div>

<div class="container-fluid container2-custom">
  </div>
  

