


<img class = "exit" src ="https://cdn3.iconfinder.com/data/icons/essential-signage/512/Laag_7-01-512.png" /> <br>
<h1 class = "userProfile">Profile</h1>
<br>
<div class="userProfileImg"><img class = "userProfileImg" src = "https://ya-webdesign.com/images/empty-avatar-png.png" /></div>
<div class="userProfileName"><h2 class ="userProfileName" >[USERNAME]</h2></div>
  <div class="left-div">
    <div class="content"></div>

     <div class="content"></div>

     <div class="content"></div>

     <div class="content"></div>

     <div class="content"></div>
  </div>

  <div class="right-div"><h2 class ="userProfileStats">[Stats]</h2></div>
